html{
    background-color: rgb(0, 255, 26);
    text-align: center;
    margin-top: 15rem;
}
h1 {
    width: 20rem;
    height: 21rem;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example { 
    0% {
        background-color: red;
        left: 5rem;
        top: -24rem;
    }

    15% {
        background-color: blue;
        left: 30rem;
        top: 21rem;
    }

    30% {
        background-color: red;
        left: 35rem;
        top: 35px;
    } 
    45% {
        background-color: red;
        left: 5rem;
        top: -24rem;
    }

    60% {
        background-color: blue;
        left: 20rem;
        top: 21rem;
    }

    75% {
        background-color: red;
        left: 5rem;
        top: 5px;
    }
    90% {
        background-color: red;
        left: 5rem;
        top: 5px;
    }
    105% {
        background-color: red;
        left: 5rem;
        top: 5px;
    } 

 } 

button{
    background-color: darkorange;
    left: 10rem;
    top: 10rem;
    width: 5rem;
    height: 5rem;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 25%;
}