html{
    background-color: darkorange;
    text-align: center;
    margin-top: 21rem;
}
h1 {
    width: 20rem;
    height: 21rem;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        background-color: red;
        left: 5rem;
        top: -24rem;
    }

    15% {
        background-color: blue;
        left: 30rem;
        top: 21rem;
    }

    30% {
        background-color: red;
        left: 35rem;
        top: 35px;
    }
    /* 45% {
        background-color: red;
        left: 5rem;
        top: -24rem;
    }

    60% {
        background-color: blue;
        left: 20rem;
        top: 21rem;
    }

    75% {
        background-color: red;
        left: 5rem;
        top: 5px;
    }
    90% {
        background-color: red;
        left: 5rem;
        top: 5px;
    }
    105% {
        background-color: red;
        left: 5rem;
        top: 5px;
    } */

}